* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%); */
    background-color: #1b2735;
}

#title {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    color: #FFF;
    text-align: center;
    font-family: "lato", sans-serif;
    letter-spacing: 10px;
}

#title span {
    background: -webkit-linear-gradient(white, #38495a);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.carousel {
    position: relative;
    overflow: hidden;
    padding: 20px 0;
    white-space: nowrap;
    /* background-color: #38495a; */
}

.carousel:before,
.carousel:after {
    position: absolute;
    top: 0;
    width: 15%;
    height: 100%;
    content: "";
    z-index: 2;
}

.carousel:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #1b2735);
}

.carousel:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #1b2735);
}

.carousel_slides {
    display: inline-block;
    animation: 20s carousel infinite linear;
}

.carousel_slides img {
    max-width: none;
    display: inline-block;
    height: 100px;
    margin: 0 40px;
}

.carousel:hover .carousel_slides {
    animation-play-state: paused;
}

@keyframes carousel {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}