* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

#title {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    color: #FFF;
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: -60px;
    padding-left: 10px;
}

#title span {
    background: -webkit-linear-gradient(white, #38495a);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.carousel {
    overflow: hidden;
    padding: 40px 0;
    white-space: nowrap;
    background-color: #FFFFFF;
}

.carousel_slides {
    display: inline-block;
    animation: 20s carousel infinite linear;
}

.carousel_slides img {
    max-width: none;
    display: inline-block;
    height: 100px;
    margin: 0 40px;
}

.carousel:hover .carousel_slides {
    animation-play-state: paused;
}

@keyframes carousel {
    from{transform: translateX(0);}
    to{transform: translateX(-100%);}
}